<!--Header-->
<div class="navbar-fixed">
    <nav id=header role="navigation">
        <div class="nav-wrapper">
            <a href="index.html" id="logo" class="brand-logo">SYC</a>
            <ul role="menubar" class="right hide-on-med-and-down">
                <li role="menuitem"><a role="link" href="/">Inicio</a></li>
                <li role="menuitem"><a role="link" href="/trayecto">Trayectos</a></li>
                <li role="menuitem"><a role="link" href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container" role="grid">
    <div class="row" role="row">
        <div class="col s12">
            <h1 id="titulo" role="heading">Share Your Car</h1>
        </div>

    </div>

<!--Content-->

    <div class="row" role="main">
        <div class="col s12">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Samuel" id="nombre" type="text" class="validate">
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Ramos Barroso" id="apellidos" type="text" class="validate">
                        <label for="apellidos">Apellidos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="ejemplo@gmail.com" id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="input-field col s12">
                    <textarea placeholder="Escriba su mensaje aquí" id="mensaje" class="materialize-textarea"></textarea>
                    <label for="mensaje">Textarea</label>
                </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
            </form>
        </div>


    </div>

</div>
