<!--Header-->
<div class="navbar-fixed">
    <nav id=header role="navigation">
        <div class="nav-wrapper">
            <a href="index.html" id="logo" class="brand-logo">SYC</a>
            <ul role="menubar" class="right hide-on-med-and-down">
                <li role="menuitem"><a role="link" href="/">Inicio</a></li>
                <li role="menuitem"><a role="link" href="/trayecto">Trayectos</a></li>
                <li role="menuitem"><a role="link" href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container" role="grid">
    <div class="row" role="row">
        <div class="col s12">
            <h1 id="titulo" role="heading">Share Your Car</h1>
        </div>

    </div>

<!--Content-->

    <div class="row" role="main">
        <div class="col s12">
            <form class="col s12" action="" method="get">
                <div class="row" role="row">
                    <div class="input-field col s12">
                        <input placeholder="La Laguna, Tacoronte, La Orotava, Icod de los vinos..." id="busqueda" type="text">
                        <label for="trayecto">Ciudad</label>
                    </div>
                </div>
                <a role="button" class="waves-effect waves-teal btn-flat" id="boton1">Buscar</a>
            </form>
            <p id="resultado_busqueda"></p>
        </div>
    </div>

</div>
