#titulo
{
    text-align: center;
    font-family: 'Lobster', cursive;
}

#logo
{
    font-family: 'Lobster', cursive;
    margin-left: 15px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
#relleno {
  height: 100px;
}
  footer {
    flex: 1 0 auto;
  }
